.body{
    border: 0ch;
    background-image: url(pexels-johannes-plenio-1103970.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.aside{
    text-decoration: none;
}
#spancare{
    text-decoration: none;
}
.main{
    text-decoration: none;

}
.paragraph1{
    background-color:aquamarine;
    border-radius: none;
    font-size: 30px;
    text-decoration: none;
    padding: 30px;
}
.pmission{
    align-items: center;
    font-size: larger;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    padding-left: 80px;
    
}
.pvision{
    font-size: larger;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px;

}
.mission{
    font-size: medium;
    text-align: justify;
    text-decoration: none;
    text-justify:auto;
    text-transform:capitalize;
}
.vision{
    font-size: medium;
    text-align: justify;
    text-decoration: none;
    text-justify:auto;
    text-transform:capitalize;
    
}
.navbar-brand{
    align-content: justify;
    padding-left: 650px;
}
.paragraphcare{
font: Graduate;
font-size: 30px;    
text-align: center;
text-decoration: none;
text-overflow: hidden;
text-transform: uppercase;

}

.buttoncontact{
    align-content: center;
    background-color: dimgray;
    padding-left: 400px;
    text-indent: center;

}
.paragraphbutton{
    padding-left: 600px;
}
.vacancy{
    font-size: x-large;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 500px;
}
.butita{
    padding: 20px;
    font-weight: 400;
    text-decoration: none;
    color: black;
}
.vactitle{
    font-size: larger;
    padding: 10px;
}
.pservices{
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
.pcontent{
    padding: 20px;
    text-decoration: none;

}
.tservices{
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

}
.contact{
text-decoration: none;

}
    @media screen and (min-width: 700px) and (orientation: landscape) { 
        [class*="body"]{
            width: 100%;
            height: fit-content;
        } 
    }
