.body{
    border: 0ch;
}
.aside{
}
#spancare{
    tran
}
.main{

}
.paragraphcare{
font: Graduate;
font-size: 30px;    
text-align: center;
text-decoration: none;
text-overflow: hidden;
text-transform: uppercase;

}

.buttoncontact{
    align-content: center;
    background-color: dimgray;
    size: 30px;
    text-indent: center;

}
.paragraphbutton{
    align-self: center;
    text-indent: center;
    

}