.body{
    border: 0ch;
    background-image: url(pexels-johannes-plenio-1103970.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.aside{
    text-decoration: none;
}
#spancare{
    text-decoration: none;
}
.main{
    text-decoration: none;

}
.paragraphcare{
font: Graduate;
font-size: 30px;    
text-align: center;
text-decoration: none;
text-overflow: hidden;
text-transform: uppercase;

}

.buttoncontact{
    align-content: center;
    background-color: dimgray;
    size: 30px;
    text-indent: center;

}
.paragraphbutton{
    align-self: center;
    text-indent: center;
    

}